In [1]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [4]:
#current directory
import os
cwd = os.getcwd()
print(cwd)

/opt/notebooks

In [1]:
import pandas as pd

df = pd.read_csv('dirtydata.csv')

print(df.to_string())

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [1]:
#https://www.datacamp.com/community/tutorials/pandas
#http://insideairbnb.com/get-the-data.html; new york summary information (uncompressed csv file)
import pandas as pd

airbnb = pd.read_csv("listings.csv")

display(airbnb)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,48,2019-11-04,0.34,3,341
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75,1,408,2021-06-29,5.09,1,212
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,2016-06-05,0.55,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,5,1,2014-01-02,0.01,1,184
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61,2,485,2021-07-18,3.63,1,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255,31,0,NaN,NaN,6,364
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306,5,0,NaN,NaN,1,16
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63,30,0,NaN,NaN,96,334
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75,1,0,NaN,NaN,1,87
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115,30,0,NaN,NaN,11,364

In [2]:
hosts = airbnb[['host_id', 'host_name']]
hosts.head()

   host_id    host_name
0     2845     Jennifer
1     4869  LisaRoxanne
2     7356        Garon
3     7378      Rebecca
4     8967     Shunichi

In [3]:
hosts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36724 entries, 0 to 36723
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   host_id    36724 non-null  int64
 1   host_name  36701 non-null  object
dtypes: int64(1), object(1)
memory usage: 573.9+ KB

In [4]:
airbnb.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [5]:
airbnb['last_review'] = pd.to_datetime(airbnb['last_review'])
airbnb.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
dtype: object

In [6]:
# extract the year from a datetime series
airbnb['year'] = airbnb['last_review'].dt.year
airbnb['year'].head()

0    2019.0
1    2021.0
2    2016.0
3    2014.0
4    2021.0
Name: year, dtype: float64

In [8]:
display(airbnb)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,year
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.753560,-73.985590,Entire home/apt,150,30,48,2019-11-04,0.34,3,341,2019.0
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Bedford-Stuyvesant,40.684940,-73.957650,Entire home/apt,75,1,408,2021-06-29,5.09,1,212,2021.0
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.685350,-73.955120,Private room,60,30,50,2016-06-05,0.55,1,365,2016.0
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.662650,-73.994540,Entire home/apt,275,5,1,2014-01-02,0.01,1,184,2014.0
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Midtown,40.764570,-73.983170,Private room,61,2,485,2021-07-18,3.63,1,255,2021.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36719,51447515,Gorgeous 2 Bedroom - in Prime Midtown East,51589519,Asi,Manhattan,Midtown,40.755787,-73.965126,Entire home/apt,255,31,0,NaT,NaN,6,364,NaN
36720,51449962,"Charming UWS 1-bdrm, 1-office, 1/2 block to Ct...",2971741,Dina Marie,Manhattan,Upper West Side,40.787029,-73.969239,Entire home/apt,306,5,0,NaT,NaN,1,16,NaN
36721,51450816,The Hunter IIII,61391963,Stay With Vibe,Manhattan,Upper East Side,40.768950,-73.960455,Entire home/apt,63,30,0,NaT,NaN,96,334,NaN
36722,51451029,Rockaway Beach Surf Getaway,10123226,Chase,Queens,Arverne,40.599257,-73.797953,Private room,75,1,0,NaT,NaN,1,87,NaN
36723,51451368,Nyc apt in the middle in nyc,17770287,Nina,Manhattan,Murray Hill,40.748655,-73.981209,Entire home/apt,115,30,0,NaT,NaN,11,364,NaN

In [9]:
# Strip leading and trailing spaces from a string series
airbnb['name'] = airbnb['name'].str.strip()
airbnb['name'].head()

0                                Skylit Midtown Castle
1    Whole flr w/private bdrm, bath & kitchen(pls r...
2                                      BlissArtsSpace!
3             Spacious Brooklyn Duplex, Patio + Garden
4                      Large Furnished Room Near B'way
Name: name, dtype: object

In [10]:
# lowercase all strings in a series
airbnb['name_lower'] = airbnb['name'].str.lower()
airbnb['name_lower'].head()

0                                skylit midtown castle
1    whole flr w/private bdrm, bath & kitchen(pls r...
2                                      blissartsspace!
3             spacious brooklyn duplex, patio + garden
4                      large furnished room near b'way
Name: name_lower, dtype: object

In [11]:
# calculate using two columns
airbnb['min_revenue'] = airbnb['minimum_nights'] * airbnb['price']
airbnb[['minimum_nights', 'price', 'min_revenue']].head()

   minimum_nights  price  min_revenue
0              30    150         4500
1               1     75           75
2              30     60         1800
3               5    275         1375
4               2     61          122